.wrapper {
  margin-top: 80px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin: 15px 10px;
}

.row {
  display: flex;
  gap: 12px;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 24.677px;
  gap: 5px;
  flex: 1 0 0;

  border-radius: 12px;
  border: 1px solid #e5e5e5;
  background: #fff;
}

.headerRow {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon {
  width: 20px;
  object-fit: contain;
}

.label {
  font-size: 16px;
  font-weight: 500;
  color: #a8a8a8;
}

.valueRow {
  display: flex;
  align-items: baseline;
  gap: 4px;
  margin-top: 4px;
}

.value {
  font-size: 64px;
  font-weight: 700;
}

.unit {
  font-size: 14px;
  color: #a8a8a8;
}

.subText {
  margin-top: 4px;
  font-size: 13px;
  color: #8f8f8f;
}
