/* 기본 레이아웃: 1440px 가운데 정렬 */
.layout {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  padding-top: 156px;

  min-height: calc(100vh - 156px);

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* 컨텐츠 영역 */
.main {
  width: 100%;
}
